     <%= form_for @post do |f| %>
        <% if @post.errors.any? %>
            <div class="errors">
                <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
                <ul>
                    <% @post.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <p id="field-1">
            <%= f.label :title, class: "field-1" %> <br>
            <%= f.text_field :title, class: 'marg-2' %>
        </p>
        <br>
        <p >                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
            <%= f.label :body, class: "field-1" %> <br>
            <%= f.text_area :body, class: 'marg-3', rows: 7 %>
        </p>
        
        <p>
            <%= f.submit class: 'btn btn-info btn-bottom' %>
        </p>
    <% end %>
    